.cont {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color:#5c087e;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 7px 0px rgb(37, 43, 43);
    font-size: 8rem;
    color:rgb(108, 177, 18);
  }
  
 p {
    font-size: 2rem;
    color:rgb(13, 189, 7);
    font-family: 'Indie Flower', cursive;
    text-shadow: 3px 0px;
}
  
img {
 width: 80%;
}
.but{
  margin-top: 5%;
}
  
 
  